<footer class="footer">
  <div class="container-footer">
    <div class="footer-col">
      <div class="title">
        <a href="/"><img src="/img/logo.png" alt="logo"></a>
        <h2>WebStorage</h2>
      </div>
      <p>Cộng đồng chia sẻ nội dung, kiến thức hữu ích về công nghệ và giải trí.</p>
    </div>

    <div class="footer-col">
      <h3>Liên hệ</h3>
      <ul>
        <li><span><i class="fa-solid fa-phone"></i></span> +84901621897</li>
        <li><span><i class="fa-solid fa-circle-user"></i></span> Phan Công Lập</li>
        <li><span><i class="fa-solid fa-circle-info"></i></span> D22_TH09</li>
        <li><span><i class="fa-solid fa-paper-plane"></i></span> DH52200978@student.stu.edu.vn</li>
        <li><span><i class="fa-solid fa-film"></i></span> Thứ 2 ca 1</li>
      </ul>
    </div>

    <div class="footer-col">
      <h3>Mạng xã hội</h3>
      <p>Theo dõi các mạng xã hội để có được những thông tin mới nhất</p>
      <div class="social-icons">
        <a href="https://www.facebook.com/eqrf04552" class="facebook">f</a>
        <a href="#" class="pinterest">p</a>
        <a href="#" class="linkedin">in</a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p>Copyright © 2014 - 2025. All rights reserved by WebStorage</p>
  </div>
</footer>
<button onclick="scrollToTop()" id="scrollTopBtn" title="Lên đầu trang"><i class="fa-solid fa-caret-up"></i></button>