<!-- login -->
<ul class="login">
  <div class="left">
    <li><a href="/" id="logo"><img src="/images/logo.png" alt="logo"></a></li>
  </div>
  <div class="right" id="header-right">
    <!-- Profile sẽ được JS chèn vào đây -->
  </div>
</ul>


<!-- nav + search -->
<%- include('nav') %>
