<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/stylesheets/product-card.css">
  <link rel="stylesheet" href="/admin/css/admin.css">
  <link rel="stylesheet" href="/admin/css/admin-dashboard.css">
</head>
<body>
  <div class="admin-dashboard">
    <div class="admin-sidebar">
      <ul class="nav">
        <li><a href="#" id="show-all-products">Sản phẩm</a></li>
        <li><a href="/admin/add-product">Tạo sản phẩm</a></li>
        <li><a href="#" id="show-draft-products">Sản phẩm chưa công bố</a></li>
        <li><a href="#">Inventory</a></li>
        <li><a href="#">Orders</a></li>
      </ul>
    </div>
    <div class="admin-content">
      <h1 class="dashboard-title">Danh sách sản phẩm</h1>
      <div id="admin-product-list"></div>
    </div>
  </div>
  <script src="/javascripts/product-list.js"></script>
  <script src="/admin/js/admin-draft-products.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      loadProducts("#admin-product-list");
      document.getElementById('show-all-products').onclick = function(e) {
        e.preventDefault();
        loadProducts("#admin-product-list");
      };
    });
  </script>
</body>
</html>