<table>
  <thead>
    <tr>
      <th>Hình ảnh</th>
      <th>Tên sản phẩm</th>
      <th>Giá</th>
      <th>Thao tác</th>
    </tr>
  </thead>
  <tbody id="productTableBody">
    <!-- Dữ liệu sẽ được render tại đây -->
  </tbody>
</table>
<script src="/admin/js/list-products.js"></script>