<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/product-card.css">
</head>
<body>
    <div id="product-list"></div>
    <script src="/javascripts/product-list.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function() {
        loadProducts("#product-list");
      });
    </script>
</body>
</html>