<%- include('../elements/head') %>
<body>
  <%- include('../elements/header') %>
  <%- include('../elements/nav') %>
  <main>
    <h1>Hướng Dẫn Đặt Hàng</h1>
    <p>Hướng dẫn chi tiết cách đặt hàng tại WebStorage.</p>
    <div class="guide-content">
      <!-- Nội dung hướng dẫn đặt hàng -->
    </div>
  </main>
  <%- include('../elements/footer') %>
</body>