<div class="title">
  <a href="/admin"><img src="/images/logo.png" alt="logo"></a>
  <h2>Xin chào admin</h2>
  <button id="logout-button" style="margin-left:20px; padding:8px 18px; border-radius:20px; background:deepskyblue; color:white; border:none; cursor:pointer;">
    <i class="fa-solid fa-sign-out-alt"></i> Đăng xuất
  </button>
</div>