<ul class="nav">
  <li><a href="/admin" class="<%= title === 'Sản phẩm' ? 'active' : '' %>"><i class="fa-solid fa-box"></i> <span>Sản phẩm</span></a></li>
  <li><a href="/admin/add-product" class="<%= title === 'Thêm sản phẩm' ? 'active' : '' %>"><i class="fa-solid fa-plus"></i> <span>Tạo sản phẩm</span></a></li>
  <li><a href="/admin/inventory" class="<%= title === 'Inventory' ? 'active' : '' %>"><i class="fa-solid fa-warehouse"></i> <span>Inventory</span></a></li>
  <li><a href="/admin/orders" class="<%= title === 'Orders' ? 'active' : '' %>"><i class="fa-solid fa-table-list"></i> <span>Orders</span></a></li>
</ul>